@model ContactModel

<!--header-->
<div class="header_top">
	<!--header_top-->
	<div class="container">
		<div class="row">
		</div>
	</div>
</div><!--/header_top-->

<div class="header-middle">
	<!--header-middle-->
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div class="logo pull-left">
					<a href="/"><img src="~/media/logo/@Model.LogominiImg" alt="" /></a>
				</div>
				<div class="btn-group pull-right">
				</div>
			</div>

		</div>
	</div>
</div><!--/header-middle-->

<div class="header-bottom">
	<!--header-bottom-->
	<div class="container">
		<div class="row">
			<div class="col-sm-9">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="mainmenu pull-left">
					<ul class="nav navbar-nav collapse navbar-collapse">
						<li><a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Admin</a></li>
						<li><a asp-controller="Slider" asp-action="Index">Slider</a></li>
						<li><a asp-controller="Product" asp-action="Index">Products</a></li>
						<li><a asp-controller="Shipping" asp-action="Index">Shipping</a></li>
						<li><a asp-controller="Category" asp-action="Index">Categories</a></li>
						<li><a asp-controller="Brand" asp-action="Index">Brands</a></li>
						<li><a asp-controller="Order" asp-action="Index">Orders</a></li>
						<li><a asp-controller="User" asp-action="Index">Users</a></li>
						<li><a asp-controller="Role" asp-action="Index">Roles</a></li>
						<li><a asp-controller="Contact" asp-action="Index">Contact</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="search_box pull-right">
					<input type="text" placeholder="Search" />
				</div>
			</div>
		</div>
	</div>
</div><!--/header-bottom-->