@model ContactModel

<div class="col-sm-6">
	<div class="contactinfo">
		<ul class="nav nav-pills">
			<li><a><i class="fa fa-phone"></i> +84 @Model.Phone</a></li>
			<li><a><i class="fa fa-envelope"></i> @Model.Email</a></li>
		</ul>
	</div>
</div>

<div class="col-sm-6">
	<div class="social-icons pull-right">
		<ul class="nav navbar-nav">
			<li><a href="#"><i class="fa fa-facebook"></i></a></li>
			<li><a href="#"><i class="fa fa-twitter"></i></a></li>
			<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
			<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
			<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
		</ul>
	</div>
</div>
			</div>
		</div>
	</div><!--/header_top-->

<div class="header-middle">
	<!--header-middle-->
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div class="logo pull-left">
					<a href="/"><img src="~/media/logo/@Model.LogominiImg" alt="" /></a>
				</div>
			</div>
