@model ContactModel

<div class="col-sm-6">
	<div class="contactinfo">
		<ul class="nav nav-pills">
			<li><a><i class="fa fa-phone"></i> +84 @Model.Phone</a></li>
			<li><a><i class="fa fa-envelope"></i> @Model.Email</a></li>
		</ul>
	</div>
</div>