@model ContactModel

@{
	ViewData["title"] = "Edit Contact";
}

<h4>Edit Contact</h4>
<div class="col-md-9">

	<form asp-action="Edit" asp-controller="Contact" method="post" enctype="multipart/form-data">
		@* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
		@* <input type="hidden" asp-for="Id" /> *@
		<div class="form-group">
			<label>Name</label>
			<input asp-for="Name" class="form-control" />
			<span asp-validation-for="Name" class="text-danger" />
		</div>		
		<div class="form-group">
			<label>Email</label>
			<input asp-for="Email" required class="form-control" />
			<span asp-validation-for="Email" class="text-danger" />
		</div>
		<div class="form-group">
			<label>Phone</label>
			<input asp-for="Phone" class="form-control" />
			<span asp-validation-for="Phone" class="text-danger" />
		</div>
		<div class="form-group">
			<label>Map</label>
			<textarea asp-for="Map" class="form-control" style="height:200px;"></textarea>
			<span asp-validation-for="Map" class="text-danger" />
		</div>
		<div class="form-group">
			<label>Description</label>
			<textarea asp-for="Description" class="form-control"></textarea>
			<span asp-validation-for="Description" class="text-danger" />
		</div>

		<div class="form-group">
			<label>Image</label>
			<input asp-for="ImageUpload" class="form-control" />
			<span asp-validation-for="ImageUpload" class="text-danger" />
			<img id="currentImage" src="~/media/logo/@Model.LogoImg" width="200px" height="200px" />
			<img id="imgpreview" class="pt-2" style="display: none;" />
		</div>

		<div class="form-group">
			<button class="btn btn-primary">Update</button>
		</div>


	</form>
	<a asp-action="Index">Back to List Contact</a>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>

	<script>
		$("#ImageUpload").change(function () {
			readURL(this);
		})
	</script>

	<script>
		CKEDITOR.replace('Description');
	</script>
}